{% if site.github.is_project_page %}
<style>
        .page-header {
            background-image: url("Cover5-01.png"); /* Путь к фоновому изображению */
            background-color: #c7b39b; /* Цвет фона */
        }
        .links{
            position: relative;
            bottom: -240px;            
        }
        .btn{
        }

</style>
<section class="links">
    <a href="{{ site.github.repository_url }}" class="btn">Учебные материалы</a>
    <a href="{{ site.github.repository_url }}" class="btn">Домашнее задание</a>
    <a href="{{ site.github.repository_url }}" class="btn">Туториалы</a>
    <a href="{{ site.github.repository_url }}" class="btn">Интересности</a>
</section>

    
{% endif %}