{% if site.github.is_project_page %}
<style>
        .page-header {
            background-image: url("Cover5-01.png"); /* Путь к фоновому изображению */
            background-color: #c7b39b; /* Цвет фона */
        }
        .links{
            position: absolute;
            left: 0;
            bottom: 40px;
        }
</style>
<section class="links"></section>     
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    <a href="{{ site.github.repository_url }}" class="btn">ййййййййййй</a>
    <a href="{{ site.github.repository_url }}" class="btn">Еще одна ссылка</a>
    <a href="{{ site.github.repository_url }}" class="btn">Еще одна ссылка</a>
</section>
{% endif %}